<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="person2" class="com.jary.progress.dto.Person" init-method="startInit" destroy-method="endDestroy">
        <property name="name" value="Tom"/>
    </bean>

    <!--beanPostProcessor配置, spring容器启动，扫描当前配置的所有bean-->
    <bean id="beanPostProcessorService" class="com.jary.progress.service.BeanPostProcessorService">

    </bean>

    <!-- 这个配置了会有问题-->
    <!-- <bean id="instantiationAwareBeanPostProcessorService" class="com.jary.progress.service.InstantiationAwareBeanPostProcessorService">

     </bean>-->

</beans>